# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env

# IDE / OS
.vscode/
.idea/
.DS_Store

# datasets
Mujoco/raccoon_dataset/openvla_rlds_intermediate/
Mujoco/raccoon_dataset/raccoon_grasp_colored_cylinder/
Mujoco/raccoon_dataset/tensorflow_datasets/
Mujoco/raccoon_dataset/raccoon_grasp/
dataset*/
datasets/
data/
*.tfrecord

# training outputs / checkpoints
runs/
wandb/
checkpoints/
openvla-runs/
*.pt
*.pth
*.ckpt
*.safetensors